body{

}
.heading{
	color:red;
}
.heading{
	height: 4em;
	background-color: #999999;
}

}
.content{
	margin-right: auto;
	margin-left: auto;
	width: 1000px;

	padding: 10px 40px 10px 40px;
}
.container p{

}
.outer{
	margin: 1em;
	padding: 3em;
	border: 1px solid black;
	background: linear-gradient(-90deg, red, yellow);
	position: relative;
}
.inner{
	border:1px solid red;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.8)
}
.green{
	position: absolute;
	width: 50%;
	height: 100%;
 background-color: green; 
top: 0;
right:0;
display: none;	
}
 #outer {
 	width: 80%;
 	height: 80vh;
 	margin-top: 10vh;
 	height: auto;
 	overflow:hidden;
 	background: linear-gradient(to bottom #F46629 0%, #EAAA2A 45%, #47AEB7 70%, #23538A at 100%);
 }
#inner{
	width:50%;
	margin: 10%;
	 background: repeating-linear-gradient(red, yellow 10%, green 20%);

}
	#element {
    background-image: url('/url/to/the/image.jpg');
}
}