#first{
    border-width:1px; 
	border-color:red;
	border-style:solid; 
	width:50%;
    margin:0 auto;
    margin-bottom:10px;
}
#second{
	border-width:10px;
	border-color:blue;
	border-style:dotted;
width:50%;
margin:0 auto;
}
#third{
border-color:green;
border-style:solid;
border-top-width:3px; 
border-bottom-width:3px;
border-right-width:1px;
border-left-width:0px;
width:50%;
margin:0 auto;
margin-top:10px;

}
p {
	padding:0px 20px 20px 20px;
}
h1 {
	padding:20px;
}

